.app {
  align-items: center;
  text-align: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.error-page {
  margin: 1rem;
  text-align: center;
}

.page-header {
  text-align: center;
  font-size: 2rem;
  font-family: "Consolas", "Courier New";
  padding-top: 1rem;
}

.page-title {
  margin: 1rem;
}

.page-title-description {
  margin: 1rem;
}

.page-title-description p {
  font-size: 1rem;
  line-height: 1.5;
}

.even-section {
  background: var(--bg-secondary);
}

.btn-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.interested-btn {
  width: 7rem;
  height: 4rem;
  background: var(--bg-primary);
  /* border: 0.1rem solid var(--border-color-secondary); */
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  background-image:
    linear-gradient(#0f172a, #0f172a), linear-gradient(135deg, #38bdf8, #8b5cf6);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.interested-btn span {
  color: white;
}

.interested-btn:hover {
  transform: scale(1.1) translateY(-2px);
  transition: transform 0.2s ease;
  box-shadow: var(--shadow-secondary);
}

.interested-btn:active {
  transform: translateY(0);
  background: var(--bg-secondary);
}
