.footer {
  text-align: center;
  background-color: var(--bg-primary);
  border-top: 0.1rem solid var(--border-color-primary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 100;
}

.footer-content {
  margin-top: 0.2rem;
  padding: 1rem;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-copyright {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer a {
  display: inline-block;
  font-size: 1rem;
  color: var(--text-primary) !important;
  transition:
    transform 0.25s ease,
    color 0.25s ease;
}

.footer a:hover,
.footer a:active {
  color: var(--color-secondary) !important;
  transform: scale(1.2);
}

.footer li:not(:last-child)::after {
  content: "|";
  margin-left: 1rem;
  color: var(--text-primary);
}

.social-icon {
  font-size: 1.2rem;
}
