.header {
  width: 100%;
  height: 10vh;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--border-color-primary);
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem 0 1rem;
}

.logo-wrapper a {
  text-decoration: none;
}

.logo-wrapper p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 4rem;
}

/* For image logo */
.logo {
  height: 4rem;
  width: 4rem;
  max-height: 4rem;
  max-width: 4rem;
  object-fit: contain;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem 0 1rem;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}

.nav li {
  font-size: 1rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-secondary);
}

.nav a:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.nav a:hover,
.nav a.active {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: underline;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-mobile {
  position: absolute;
  right: 1rem;
  top: 4.5rem;
  background: var(--bg-secondary);
  list-style-type: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .header {
    top: 0;
    position: sticky;
    z-index: 100;
  }

  .logo-wrapper p {
    padding-left: 0;
  }

  .nav {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: 1rem;
    -webkit-tap-highlight-color: transparent;
  }

  .hamburger .icon {
    inset: 0;
    font-size: 2rem;
    transition:
      transform 0.4s ease,
      opacity 0.25s ease;
  }

  .hamburger .menu {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  .hamburger .close {
    opacity: 0;
    transform: rotate(-180deg) scale(0.5);
  }

  .hamburger.open .menu {
    opacity: 0;
    transform: rotate(180deg) scale(0.5);
  }

  .hamburger.open .close {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

@media (max-width: 1024px) {
}
