* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-primary);
}

:root {
  --color-primary: #1f2933;
  --color-secondary: #2563eb;

  --bg-primary: #f8fafc;
  --bg-secondary: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #4b5563;

  --border-color: #d1d5db;
}

[data-theme="dark"] {
  --color-primary: #e5e7eb;
  --color-secondary: #60a5fa;

  --bg-primary: #020617;
  --bg-secondary: #0f172a;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  --border-color: #1e293b;
}
