* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-primary);
}

:root {
  --color-primary: #1f2933;
  --color-secondary: #2563eb;

  --bg-primary: #f8fafc;
  --bg-secondary: #e5e7eb;
  --bg-trinary: #6a7282;

  --bg-transparent-primary: #rgba(255, 255, 255, 0.25);
  --bg-transparent-secondary: #6a728261;

  --text-primary: #111827;
  --text-secondary: #4b5563;

  --border-color-primary: #d1d5db;
  --border-color-secondary: #2563eb;

  --shadow-primary: 0 4px 6px rgba(0, 0, 0, 0.05);
  --shadow-secondary: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --color-primary: #e5e7eb;
  --color-secondary: #60a5fa;

  --bg-primary: #020617;
  --bg-secondary: #0f172a;

  --text-primary: #e5e7eb;
  --text-secondary: #9ca3af;

  --border-color-primary: #1e293b;
}
