.about-section {
  margin: 3rem 1rem;
  padding: 2rem 6rem 0 6rem;
  display: flex;
  gap: 4rem;
}

.about-section img {
  max-width: 25rem;
  max-height: 15rem;
  border-radius: 2rem;
  border: solid var(--border-color-primary);
  object-fit: cover;
}

.image-description p {
  text-align: justify;
}

.feature-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.feature-card__description {
  font-size: 1rem;
  color: var(--text-secondary);
}

.feature-card-row {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.feature-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: solid;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary), var(--shadow-secondary);
}

.feature-card fieldset {
  display: flex;
  flex-direction: column;
  border: solid;
  background-color: var(--bg-primary);
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-left: 2rem;
  width: 35rem;
  height: 10rem;
  box-shadow: var(--shadow-primary);
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 0;
  }

  .feature-card-row {
    flex-direction: column;
    width: 80%;
  }

  .feature-card fieldset {
    width: 100%;
    height: auto;
  }
}
