.ic-wrapper {
  padding: 1rem;
}

.company-profile-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.company-profile-card {
  display: flex;
  gap: 2rem;
  padding: 2rem;

  background: var(--bg-primary);

  border-radius: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.06);

  box-shadow: var(--shadow-secondary);
}

.company-profile-card .left {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.company-profile-card .left h2 {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--color-primary);
  margin-bottom: 0.25rem;
}

.company-profile-card .left h3 {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-secondary);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.company-profile-card .center {
  width: 0.1rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.15),
    transparent
  );
}

.company-profile-card .right {
  display: flex;
  flex-direction: column;
}

.company-profile-card .right .key-value {
  display: grid;
  margin: 1rem;
  gap: 0.5rem;
  grid-template-columns: 12rem 1fr;
}

.company-profile-card .right .label {
  display: flex;
  gap: 0.5rem;
}

.company-profile-card .right .icon {
  padding: 0 0.5rem;
}

.identification-group {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.identification-card {
  min-width: 17rem;
  width: 25rem;
  border: solid;
  border-radius: 2rem;
  padding: 1rem;
  background: var(--bg-primary);
}

.identification-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.identification-value {
  display: flex; /* use flex instead of grid */
  align-items: center;
  gap: 0.5rem; /* space between columns */
}

.identification-value .left {
  width: 6.5rem;
  text-align: left;
}

.identification-value .center {
  width: 1rem;
  text-align: center;
}

.identification-value .right {
  flex: 1;
  text-align: left;
}

.ic-upper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.ic-upper h3 {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.ic-upper span {
  margin-left: auto;
  text-align: right;
}

@media (max-width: 768px) {
  .company-profile-card {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
  .company-profile-card .right .key-value {
    grid-template-columns: 10rem 1fr;
  }
  .company-profile-card {
    box-shadow: var(--shadow-primary);
  }
  .identification-group {
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
  .identification-card {
    width: 90%;
    max-width: 90%;
  }
}
