.services {
  margin: 1rem 3rem 1rem 3rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  margin: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--bg-transparent-secondary) transparent;
  -ms-overflow-style: none;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
}

.carousel-group {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: max-content;
}

.flash-card {
  flex: 0 0 auto;
  border: solid;
  border-radius: 0.5rem;
  background-color: var(--bg-secondary);

  padding: 1rem;
  margin: 1rem;
  width: 15rem;
  height: 17rem;

  scroll-snap-align: start;
  transition: transform 0.2s ease;
  cursor: grab;
  box-shadow: var(--shadow-secondary), var(--shadow-primary);
  box-shadow: var(--shadow-trinary);
}

.flash-card__icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gradient-primary);
  color: white;

  box-shadow: 0 8px 20px rgba(255, 95, 109, 0.45);
  margin: 1rem;
}

.flash-card__icon svg {
  font-size: 1.5rem;
}

.flash-card:hover {
  transform: scale(1.1) rotate(2deg);
}

.flash-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem;
  max-height: 3rem;
  height: 3rem;
}

.flash-card__underline {
  width: 5rem;
  height: 3px;
  background: var(--gradient-primary);
  border-radius: 999px;
  margin: 1rem;
}

.flash-card p {
  text-align: justify;
  margin: 1rem;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .services {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .carousel {
    margin: 0;
    padding: 0;
  }
  .carousel-group {
    margin: 0;
    padding: 1rem;
    gap: 1rem;
  }
}

@media (min-width: 1440px) {
  .carousel {
    justify-content: center;
  }
}

.carousel::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: var(--bg-transparent-secondary);
  border-radius: 999px;
}

.carousel::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
