.services {
  margin: 1rem 3rem 1rem 3rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  margin: 1rem;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  gap: 1em;
}

.carousel-group {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: max-content;
}

.flash-card {
  flex: 0 0 auto;
  border: solid;
  border-radius: 0.5rem;
  background-color: var(--bg-secondary);

  padding: 1rem;
  margin: 1rem;
  width: 15rem;
  height: 15rem;

  scroll-snap-align: start;
  transition: transform 0.2s ease;
  cursor: grab;
}

.flash-card:hover {
  transform: scale(1.1) rotate(2deg);
}

.flash-card h3 {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem;
}

.flash-card p {
  text-align: justify;
}

@media (max-width: 768px) {
  .services {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .carousel {
    margin: 0;
    padding: 0;
  }
  .carousel-group {
    margin: 0;
    padding: 1rem;
    gap: 1rem;
  }
}
